.container-fluid{
    background: #003580;

}
.nav{
    flex-wrap:nowrap!important;
}
.nav-link{
    color:white;

}
input{
    border:2px solid orange;
    padding: 5px;
    margin: 3px;

}
.dropdown-item{
    color: black!important;
}